<p id="notice"><%= notice %></p>

<h4> Aujourd'hui, c'est <%= DateTime.now.to_formatted_s(:long_ordinal) %></h4>
<%= link_to 'New Task', new_task_path %> <%= link_to 'Completed Tasks', complete_task_path %>
